---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Bio from '../sections/Bio.astro';
---

<Layout title="Welcome to Astro.">

	<Header />
	<main>

		<Bio>
		
	</main>
</Layout>

