---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Bio from "../sections/Biography.astro";
import Skills from "../sections/Skills.astro";
import Story from "../sections/Story.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Bio />
	  <Skills />
    <Story />
    <Projects />
  </main>
  <Footer />
</Layout>
