---
const {name, level, icon} = Astro.props

---


<figure class="grid justify-items-center">
    <img src={icon} alt={name} class=" h-14 m-4"/>
    <span class=" text-base font-normal ">
        {name}
    </span>
    <span class=" text-sm font-light ">
        {level}
    </span>
</figure>