---

---

<section
  class="mt-14 text-center text-xl font-montserrat font-light grid gap-10"
>
  <div class="grid">
    <span> Beniarjó (Valencia) </span>
    <span> 9 / Marzo / 2024 </span>
  </div>

  <div class="grid">
    <span> Español - Nativo </span>
    <span> Inglés - Fluido </span>
  </div>

  <div class="grid">
    <span> Vehículo propio </span>
    <span> Disponibilidad a tiempo completo </span>
    <span> Disponibilidad inmediata </span>
  </div>
</section>
