---
---

<section
    class="text-center font-montserrat"
>
    
    <img 
        src="../../public/profile.jpg" 
        class=`w-60 rounded-full mx-auto mt-28`
    />

    <h1 class=" mt-6 text-3xl font-normal">
        Alejandro Pérez Cerdá
    </h1>

    <div class=" mt-6 grid gap-1">
        <span class=" text-xl font-light">
            686 18 43 28
        </span>
    
        <span class=" text-xl font-light">
            alexperecer@gmail.com
        </span>
    </div>
    


</section>