---
import CustomSection from "../components/CustomSection.astro";
---

<CustomSection bg="bg-red-50" text="text-center font-light text-lg" iconSection="/icons/sections/BioIcon.svg" nameSection="Biography">
  <h1 class="font-normal text-3xl mb-14">
    Desarrollo en Diseño Gráfico, Marketing Online y Programación Web
  </h1>
  <p class="mb-6">
    Soy un profesional con más de 10 años de experiencia en diseño gráfico, marketing online y desarrollo web, especializado en la creación y gestión de proyectos de Ecommerce basados en WordPress.
  </p>
  <p class="mb-6">
    Mi capacidad para combinar habilidades técnicas con un enfoque estratégico me permite desarrollar soluciones integrales que impulsan el crecimiento de las empresas.
  </p>
  <p class="mb-6">
    Durante mi carrera, he liderado la renovación de identidades corporativas, gestionado campañas de marketing digital efectivas y optimizado sitios web para mejorar la experiencia del usuario y aumentar la conversión. Soy fluido en inglés, lo que me ha permitido trabajar de manera remota con equipos internacionales y manejar proyectos complejos con éxito. Estoy comprometido con la mejora continua y siempre dispuesto a aprender nuevas tecnologías y metodologías para alcanzar los objetivos empresariales.

  </p>
</CustomSection>



