---
import CustomSection from "../components/CustomSection.astro";
---

<CustomSection bg="bg-red-50" text="text-center font-light text-lg" iconSection="/icons/sections/BioIcon.svg" nameSection="Biography">
  <h1 class="font-normal text-3xl mb-14">
    Desarrollo en Diseño Gráfico, Marketing Online y Programación Web
  </h1>
  <p class="mb-6">
    Tengo experiencia en diseño gráfico, marketing online y SEO, así como en
    programación web con enfoque en projectos de Ecommerce basados en WordPress.
  </p>
  <p class="mb-6">
    Capacidad para aprender nuevas habilidades. No saber algo no es un
    impedimento. Siempre se puede aprender algo más para lograr lo que se busca.
  </p>
  <p class="mb-6">
    He tenido la oportunidad de vivir en el extranjero, lo que me ha brindado
    fluidez para la comunicación en inglés y desarrollo personal. Por otro lado,
    he trabajado varios años en remoto, por lo que tengo mucha experiencia
    trabajando a distancia para empresas de otros países.
  </p>
</CustomSection>
