---
import CustomSection from "../components/CustomSection.astro"
import AppSkill from "../components/AppSkill.astro"
import data from "../data/AppSkills.json";

const skillsData = Object.values(data);
---

<CustomSection bg="bg-[#cec1b5]" text="text-center font-light text-lg" iconSection="/icons/sections/Skills.svg" nameSection="Biography" iconSize="p-2">

  {skillsData.map(section => (

    <div class=" section-container grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] gap-y-12 p-14 border-b border-b-stone-500 w-">
      {Object.values(section).map(skill => (
        <AppSkill icon={skill.icon} name={skill.name} level={skill.level}/>
      ))}
    </div>

  ))}

</CustomSection>

<style>
  .section-container:first-child {
    padding-top: 0;
  }
  .section-container:last-child {
    border-bottom: none;
  }
</style>
