---
interface Props {
  title: string;
}

const { title } = Astro.props;

// Supports weights 100-900
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bienvenid@ a mi porfolio personal. Aquí encontrarás todas mis habilidades, así como proyectos y más información relevante." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-montserrat">
    <slot />
  </body>
</html>
